@charset "utf-8";

@use 'var' as v;

body {
  // Swear Display Light
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
  // Swear Display Bold
  // font-family: swear-display, serif;
  // font-weight: 700;
  // font-style: normal;
}

/*ヘッダー*/
.headerTop {
  width: 100%;
  height: auto;

  /*トップ画像全画面表示*/
  &__img {
    background-image: url(/images/ABOUTME-cuttop-1.jpg);
    // ヘッダー画像3/2表示設定
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    h1 {
      display: inline-block;
      opacity: .5;
    }
  }
}

/*h2画像*/
.h2Img__about {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble08-2.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 40%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

/*h2画像*/
.h2Img__history {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble04.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 40%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

/*h2画像*/
.h2Img__selfPR {
  margin: 0 0 100px 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble10.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 40%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

.about__list {
  margin-bottom: 100px;
}


