@charset "utf-8";

@use 'var'as v;
@use 'mediaq';

body {
  // Swear Display Light
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
  // Swear Display Bold
  // font-family: swear-display, serif;
  // font-weight: 700;
  // font-style: normal;
}

// 全てのaタグ
a {
  text-decoration: none;
  transition: .6s;
  color: #707070;
}

a:hover {
  opacity: .5;
}

// 要素中央寄せ　最大幅1200px
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*ヘッダー*/
.headerTop {
  width: 100%;
  height: auto;

  /*トップ画像全画面表示*/
  &__img {
    background-image: url(/images/top-1920-1080.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
  }
}

/*gnav*/
.gnav {
  text-align: center;

  // flex親要素
  &__link {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 3%;
  }

  // flex子要素
  &__item {
    font-size: 2rem;
    color: #707070;
  }
}

/*h2画像*/
.h2Img {
  margin: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble07.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

.h2Img__skill {
  margin: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble09-h.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

.h2Img__about {
  margin: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble08.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;
}

.h2Img__contact {
  margin: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  background-image: url(/images/Marble08-2.jpg);
  background-repeat: no-repeat;
  text-align: center;
  width: 30%;
  color: #fcfcfc;
  text-shadow: 1px 1px 0 #707070, -1px -1px 0 #707070,
    -1px 1px 0 #707070, 1px -1px 0 #707070,
    0px 1px 0 #707070, 0-1px 0 #707070,
    -1px 0 0 #707070, 1px 0 0 #707070;

}


/*h2共通*/
.head2 {
  font-size: 2.5rem;
}

.centerBox {
  text-align: center;
}

/*モックアップ*/
.workBox__list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  &--item {
    width: 90%;
  }
}

/*viewmoreボタン*/
.viewMore {
  display: inline-block;
  background-color: #F4C5DE;
  width: 20%;
  height: auto;
  font-size: 30px;
  color: #707070;
  border-radius: 20px;
  padding: 2%;
  margin: 10%;
}

/*skill grid*/
.skill__list {
  text-align: center;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;

  &--item {
    background-color: pink;
    img {
      width: 70%;
      margin-top: -20px;
    }
  }
}

/*about flex*/
.about__list {

display: flex;
justify-content: center;
  &--img {
    width: 30%;
    padding-right: 5%;
}
    p {
      font-size: 30px;
    }
}

.thanks {
  font-size: 80px;
}

footer {
  background-image: url(/images/footer08-2.jpg);
  min-height: 20vh;
  background-size: cover;
  p {
    font-size: 20px;
    text-align: center;
    padding: 3%;
  }

}